<div class="nav_contain">
    <ul>
        <li>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/query">查看</a>
        </li>
        <li>
            <a href="/add">添加</a>
        </li>
        <li>
            <a href="/update">修改</a>
        </li>
        <li>
            <a href="/delete">删除</a>
        </li>
    </ul>
</div>